header{
 background-image:url(colourbackground.jpg);
 height:770px;
 width:100%;
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
 overflow:hidden;
 opacity: 0.2;
}


h1 {
  font-family: 'Rozha One', serif;
  text-align: center;
  font-size: 100px;
  margin-top: 300px;
  clear: left;
  color: black;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  background-color: white;
}

div.col-md-3 {
  background-color: white;
}

div.feelingheaders {
  text-align: center;
}
