<!DOCTYPE html>
<html>
<head>

  <!-- Fonts -->

  <!-- CSS -->
  <link rel="stylesheet" href="static/css/emotify.css">

  <!-- Tab Title -->
  <title>Emotify</title>
</head>

  <body>
    <!-- Page Title -->
    <header>
    <h1 class="header">Emotify: Listen To Your Feelings!</h1><br>
    </header>


    <!--Emoji's -->
        <img class="img-responsive" src="static/images/content_face.png">

  <!-- Second half of page with email sign up -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  		<h2>We've got a tune that will do just the trick!</h2>


  		<h3>Get the perfect song to fit your mood handpicked and delivered to your inbox:</h3>
  		<div id="contact-form">
  			<form method="post" action="/signup">
  				<label for="text">Please Enter Your Email Address:</label>
  				<input type="email" id="email" name="email" required="required">
  				<input type="submit" value="Submit" id="submit"/>
  			</form>
  		</div>


</html>
