<!DOCTYPE html>
<html>
  <head>
    <!-- Required Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rozha+One" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="emotify/static/css/emotify.css">

    <!-- Title -->
    <title>Emotify</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1 class="header"><u><strong>Emotify: Listen to your Feelings!</strong></u></h1>
      </div>
    </header>

    <!-- Emoji's-->
      <div class="row">
        <div class="col-md-4">
          <a href="">
          <img src="https://www.google.co.uk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiZ8P-dmaXXAhVlI8AKHR4CA6QQjRwIBw&url=https%3A%2F%2Fthetab.com%2Fus%2F2017%2F03%2F23%2Fsnapchat-emojis-63420&psig=AOvVaw0zPHd-RQcK0oxk1ll4IjV5&ust=1509894435457335"></a>
          <h2 class="guideheaders">Feeling Happy</h2>
          <!--  <a href="http://www.codefirstgirls.org.uk/"> </a> -->
        </div>

        <div class="col-md-4">
          <a href="">
          <img class="img-responsive" src="emotify/static/images/frisky_face.png"></a>
          <h2 class="guideheaders">Feeling Frisky</h2>
          <!-- <a href="http://www.healthtechwomen.co.uk/"></a> -->

        </div>

        <div class="col-md-4">
          <a href="">
          <img class="img-responsive" src="emotify/static/images/fml_face.png"></a>
          <h2 class="guideheaders">Feeling FML</h2>
        <!--  <a href="https://www.nationaltheatre.org.uk/entry-pass"> </a> -->

        </div>

        <div class="col-md-4">
          <a href="">
          <img class="img-responsive" src="emotify/static/images/upset_face.png"></a>
          <h2 class="guideheaders">Feeling Upset</h2>
          <!-- <a href="http://www.roh.org.uk/for/rohstudents"></a> -->

        </div>

</body>
</html>
